# Fatal Police Shootings

*author: Celine Ng*

# 1. Import Libraries &  Data Retrieval

In [55]:
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: pandas in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in d:\acer\documents\data science\turing\capstone projects\m1_cp\fatalshooting\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
db = pd.read_csv("database.csv")

In [58]:
db

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,2382,James Leroy Marker,2017-02-26,shot,gun,66.0,M,W,Floral City,FL,False,other,Car,False
2138,2378,Joey J. Bridges,2017-02-27,shot,gun,27.0,M,W,Shelby,NC,True,attack,Foot,False
2139,2391,Shawn M. Igers,2017-02-27,shot,gun,40.0,M,W,Corning,WI,False,attack,Not fleeing,False
2140,2393,Earl Riley,2017-02-28,shot,gun,25.0,M,B,Houston,TX,False,attack,Not fleeing,False
2141,2394,Christopher Redding,2017-02-28,shot,gun,20.0,M,B,Orlando,FL,False,attack,Foot,False

# 2. Quick Exploration & Data Cleaning

## 2.1 Missing values

1. Is there any empty values?

In [59]:
db.isnull().any()

id                         False
name                        True
date                       False
manner_of_death            False
armed                       True
age                         True
gender                      True
race                        True
city                       False
state                      False
signs_of_mental_illness    False
threat_level               False
flee                        True
body_camera                False
dtype: bool

2. How many empty values are there?

In [60]:
db.isnull().sum().sum()

208

In [61]:
db.isnull().sum()

id                           0
name                        19
date                         0
manner_of_death              0
armed                        6
age                         43
gender                       1
race                       103
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        36
body_camera                  0
dtype: int64

3. How many rows with empty values?

In [62]:
rows_with_emtpy = db[db.isnull().any(axis=1)]
rows_with_emtpy

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
59,110,William Campbell,2015-01-25,shot,gun,59.0,M,NaN,Winslow,NJ,False,attack,Not fleeing,False
124,584,Alejandro Salazar,2015-02-20,shot,gun,NaN,M,H,Houston,TX,False,attack,Car,False
241,244,John Marcell Allen,2015-03-30,shot,gun,54.0,M,NaN,Boulder City,NV,False,attack,Not fleeing,False
266,534,Mark Smith,2015-04-09,shot and Tasered,vehicle,54.0,M,NaN,Kellyville,OK,False,attack,Other,False
340,433,Joseph Roy,2015-05-07,shot,knife,72.0,M,NaN,Lawrenceville,GA,True,other,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,2345,Mauro Garnica,2017-02-15,shot,unknown weapon,55.0,M,NaN,Newman,CA,False,attack,Not fleeing,False
2125,2373,Kenneth Robertson,2017-02-23,shot,gun,54.0,M,NaN,Fairfax,OK,False,attack,Not fleeing,False
2132,2383,Lorenzo Antoine Cruz,2017-02-25,shot,toy weapon,23.0,M,NaN,Rocklin,CA,False,attack,Foot,False
2133,2384,NaN,2017-02-25,shot,gun,NaN,NaN,NaN,Lumpkin,GA,False,attack,Car,False
2134,2379,Jacob Taulbee,2017-02-26,shot,knife,NaN,M,W,Englewood,FL,False,other,Not fleeing,False

In [63]:
rows_with_emtpy.shape[0]

156

## 2.2 Duplicates

4. Is there any duplicated rows?

In [70]:
db.duplicated().any()

False

## 2.3 Inadequate Datatypes

In [64]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142 entries, 0 to 2141
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2142 non-null   int64
 1   name                     2123 non-null   object
 2   date                     2142 non-null   object
 3   manner_of_death          2142 non-null   object
 4   armed                    2136 non-null   object
 5   age                      2099 non-null   float64
 6   gender                   2141 non-null   object
 7   race                     2039 non-null   object
 8   city                     2142 non-null   object
 9   state                    2142 non-null   object
 10  signs_of_mental_illness  2142 non-null   bool
 11  threat_level             2142 non-null   object
 12  flee                     2106 non-null   object
 13  body_camera              2142 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 205.1+ KB

Age and date datatypes are inadequate.

## 2.4 Others/Outliers/Data visualization

In [65]:
db.shape

(2142, 14)

In [66]:
len(db.name.unique())

2119